#bioPage {
	display: inline-block;
	width: 80vw;
	text-align: left;
}

#bioText {
	font-family: "Playfair Display", serif;
	width: 40vw;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}

h2 {
	font-family: "Yeseva One", serif;
}


#image {
	width: 39vw;
}