body {
	text-align: left;
	border-color: #cc0066;
	border-style: solid;
	border-radius: 10px;
	border-width: 4px;
	/*margin: 10px;*/
	margin-top: 1%;
	padding-bottom: 3%;
}

h1 {
	padding: 1%;
}

h5 {
	font-size: 14px;
}

div{
	background: white;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0.01%;

	/*border-radius: 2px;
	border-color: black;
	border-style: solid;*/
}

.position {
    font-style: italic;
}

.job {
	color: #cc0066;
}

.sectiontitle {
	color: #0099cc;
}