body {

	font-family: "Yeseva One", serif;
	text-align: center;
	color: black;
	height: 100%;
}

a {
	color: black;
	
}

h1 {
	text-align: left;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 10vh;
}

h2 {
	font-family: "Yeseva One", serif;
	color: #9C3848;
	font-size: 1.5vw;
}

.title {
	font-family: "Yeseva One", serif;
	color: black;
	text-decoration: none;
	width: 40vw;
	text-align: left;
}

.title:hover {
	color: #EC4E20;   /* orange */
}

.black {
	color: black;
}



.main {
	height: 100%;
	width: 100%;
	display: table;
}

.container {
	height: 90vh;
}

#github, #linkedin, #instagram {
	text-decoration-color: #EC9A29;
}

#name {
	width: 40vw;
	vertical-align: top;
	display: inline-block;
}

#menu {
	text-align: right;
	display: inline-block;
	width: 40vw;
	vertical-align: top;

}

#page {
	display: inline-block;
	width: 80vw;
	text-align: left;
}

#image {
	height: 30vh;
	display: inline-block;
}



img {
	height: 50vh;
	padding: 3vh;
	border-left: 4px solid #9C3848;
	border-bottom: 4px solid #9C3848;

}

div.pagelinks{
	text-align: right;
	color: black;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	font-size: 3.5vh;
	font-family: "Playfair Display", serif;
	display: block;
	float: right;
	clear: right;
	text-decoration-color: #EC9A29;

}

button {
	display: block;
	text-align: right;
	color: black;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	font-size: 3.5vh;
	font-family: "Playfair Display", serif;
	border: none;
	text-decoration: underline;
	background: none;
	outline: none;
	text-decoration-color: #EC9A29;
	float: right;
	clear: right;
	/*border: 1px solid blue;*/
}

button:hover, div.pagelinks:hover {
	background: #EC9A29;
}

.clicked {
	background: #EC9A29;
}

#bioText {
	font-family: "Playfair Display", serif;
	width: 39vw;
	text-align: right;
	display: none;
	vertical-align: top;
}

#bioP {
	font-size: 1.75vw;
}

#skillsText {
	font-family: "Playfair Display", serif;
	text-align: left;
	display: none;
	vertical-align: top;

	position: absolute;
}

#skillsLeft {
	display: inline-block;
	width: 60vw;
}

#resumeText {
	display: none;

	height: 50vh;
}

#cornerDiv {
	display: inline-block;
	width: 19vw;
	height: 30vh;
	border-bottom: 4px solid #EC4E20;
	border-right: 4px solid #EC4E20;
}

.bold {
	font-weight: bold;
	font-family: "Yeseva One", serif;
}

p, ul {
	font-family: "Playfair Display", serif;
	font-size: 1.25vw;
}
