body {
	font-family: "Yeseva One", serif;
	text-align: center;
	color: black;
	height: 100%;
}

a {
	color: black;	
}

.header {
	margin-top: 5vh;
}

h1 {
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 8vh;
	font-size: 7vh;
}

h2 {
	font-family: "Yeseva One", serif;
	color: #9C3848;
	font-size: 1.5vw;
}

.title {
	font-family: "Yeseva One", serif;
	color: black;
	text-decoration: none;
	width: 20vw;
	text-align: left;
}

.title:hover {
	color: #EC4E20;   /* orange */
}

.container {
	height: 90vh;
}

#name {
	width: 20vw;
	vertical-align: top;
	display: inline-block;
}

#menu {
	text-align: right;
	display: inline-block;
	width: 60vw;
	vertical-align: top;
}

#page {
	display: inline-block;
	width: 80vw;
	text-align: left;
}


.image {
	display: inline-block;
	padding: 3vh;
	border-left: 4px solid #9C3848;
	border-bottom: 4px solid #9C3848;
}

.bioImage {
	display: inline-block;
}

img {
	height: 50vh;
}

.pagelinks {
	color: black;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 3vh;
	font-family: "Playfair Display", serif;
	border: none;
	text-decoration: underline;
	background: none;
	outline: none;
	text-decoration-color: #EC9A29;
}

.pagelinks:hover {
	background: #EC9A29;
}

#bio {
	font-family: "Playfair Display", serif;
	width: 40vw;
	padding-left: 5vw;
	text-align: justify;
	vertical-align: top;
	display: inline-block;
}

#art-title {
	padding: 2vh;
	text-align: center;
}

.artRow {
	display: inline-block;
	text-align: center;
	width: 80vw;
}

.art-image {
	width: 35vw;
	display: inline-block;
	padding-bottom: 5vh;
	vertical-align: top;
}

#bioP {
	font-size: 2.75vh;
}

#insta {
	color: #EC9A29;
}

.contact-p {
	padding-left: 2vw;
	display: inline-block;
	font-size: 1.5vw;
}

.contact-link {
	text-decoration-color: #9C3848;
	display: inline-block;
}

.contact-link:hover {
	background: #9C3848;
}

#contact-header {
	font-size: 2.5vw;
}

#contact {
	text-align: justify;
}


p, ul {
	font-family: "Playfair Display", serif;
	font-size: 1.25vw;
}

@media only screen and (max-width: 1000px) { 
	.title {
		display: block;
		width: 30vw;
	}
	.pagelinks {
	  	width: 60vw;
		display: block;
		text-align: left;
		font-size: 3vh;
	}
	#menu {
		width: 80vw;
		padding-bottom: 5vh;
		margin-left: 0%;
	}

	#name {
		width: 80vw;
	}

	h1 {
		font-size: 5vh;
		margin-bottom: 2vh;
	}

	img {
		height: 40vh;
	}

	iframe {
		height: 40%;
		width: 80%;
		top: 50%;
	}

	.bioImage {
		display: none;
	}

	.art-image {
		display: block;
		width: 80vw;
	}
}