:root {
	/* colors */
	--off-white: #FFFBFF;
	--plum: #432E36;
	--cobalt-blue: #003DBF;
	--lilac: #D88CF8;
	--dusty-orange: #A85751;
	--bright-orange: #FC440F;
}

.page-title {
    margin-top: 10vh;
}

.project-image {
    width: 20vw;
}

#contact-title {
    color: var(--lilac);
}

#contact-content {
    padding-top: 5vh;
}

.contact-icon {
    height: 50px;
	width: 50px;
    margin-top: 2vh;
    margin-right: 1vw;
}

.contact-icon:hover {
    opacity: 50%;
}

.round-corners {
	border-radius: 25px;
}

#modal {
	display: none;
	background-color: rgb(67, 46, 54, .8);
	width: 100%;
	height: 100vh;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

#modal-image-container {
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
	height: 80vh;
	width: 90vw;
}

img#modal-image {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#modal-image:hover {
	opacity: 100%;
}

#x-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5vh;
	right: 5vh;
	transition: .3s all;
}

#x-icon:hover {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


@media only screen and (max-width: 1000px) {
	.page-title {
		margin-top: 5vh;
	}
}